src/main/resources/WSDL/ExternalSearchNniNamePortV3.xsd6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="uri:business.document.header.types.asic.gov.au" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:fss.types="uri:fss.types.asic.gov.au" xmlns:types="uri:types.asic.gov.au" xmlns:business.document.header.types="uri:business.document.header.types.asic.gov.au" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="uri:types.asic.gov.au" schemaLocation="ExternalSearchNniNamePortV3.xsd3.xsd"/>
  <xs:import namespace="uri:fss.types.asic.gov.au" schemaLocation="ExternalSearchNniNamePortV3.xsd9.xsd"/>
  <xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="ExternalSearchNniNamePortV3.xsd10.xsd"/>
  <xs:complexType name="businessDocumentRequestHeaderType">
    <xs:sequence>
      <xs:element name="messageType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="messageReferenceNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="asicReferenceNumber" type="types:referenceNoType" minOccurs="0"/>
      <xs:element name="messageVersion" type="xs:long"/>
      <xs:element name="senderId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="senderType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="softwareInformation" type="business.document.header.types:softwareInformationType" minOccurs="0"/>
      <xs:element name="messageTimestamps" type="business.document.header.types:messageTimestampsType" minOccurs="0"/>
      <xs:element name="attachments" type="business.document.header.types:attachmentsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="businessDocumentHeaderType">
    <xs:sequence>
      <xs:element name="messageType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="messageReferenceNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="asicReferenceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="messageVersion" type="xs:long"/>
      <xs:element name="senderId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="senderType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="softwareInformation" type="business.document.header.types:softwareInformationType" minOccurs="0"/>
      <xs:element name="messageTimestamps" type="business.document.header.types:messageTimestampsType" minOccurs="0"/>
      <xs:element name="messageEvents" type="business.document.header.types:messageEventsType" minOccurs="0"/>
      <xs:element name="result" type="business.document.header.types:genericResultType" minOccurs="0"/>
      <xs:element name="attachments" type="business.document.header.types:attachmentsType" minOccurs="0"/>
      <xs:element name="receipt" type="fss.types:receiptType" minOccurs="0"/>
      <xs:element name="asicTransactionNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="transactionReferenceNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="processMode" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
            <xs:enumeration value="VALIDATE"/>
            <xs:enumeration value="PROCESS"/>
            <xs:enumeration value="PEND"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attachmentsType">
    <xs:sequence>
      <xs:element name="attachment" type="business.document.header.types:attachmentType" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attachmentType">
    <xs:sequence>
      <xs:element name="documentType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="binaryObject" type="xs:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/pdf"/>
      <xs:element name="documentNumber" type="types:documentNoType" minOccurs="0"/>
      <xs:element name="name" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="URL" type="xs:anyURI" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="softwareInformationType">
    <xs:sequence>
      <xs:element name="organisationalName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="productName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="productVersion">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageEventType">
    <xs:sequence>
      <xs:element name="errorCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="serverityCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1000"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="locationPath" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1000"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="details" minOccurs="0" maxOccurs="10">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1000"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageTimestampsType">
    <xs:sequence>
      <xs:element name="messageTimestamp" type="business.document.header.types:messageTimestampType" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageTimestampType">
    <xs:sequence>
      <xs:element name="timestamp" type="xs:dateTime"/>
      <xs:element name="source">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageEventsType">
    <xs:sequence>
      <xs:element name="messageEvent" type="business.document.header.types:messageEventType" maxOccurs="100"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genericResultType">
    <xs:choice>
      <xs:element name="accepted" type="types:trueType"/>
      <xs:element name="rejected" type="types:trueType"/>
      <xs:element name="delayed" type="types:trueType"/>
      <xs:element name="fault" type="types:trueType"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="businessDocumentRequestHeader" type="business.document.header.types:businessDocumentRequestHeaderType"/>
  <xs:element name="businessDocumentHeader" type="business.document.header.types:businessDocumentHeaderType"/>
</xs:schema>