src/main/resources/WSDL/ExternalSearchNniNamePortV3.xsd9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="uri:fss.types.asic.gov.au" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:fss.types="uri:fss.types.asic.gov.au" xmlns:types="uri:types.asic.gov.au" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ascot.types="uri:ascot.types.asic.gov.au">
  <xs:import namespace="uri:types.asic.gov.au" schemaLocation="ExternalSearchNniNamePortV3.xsd3.xsd"/>
  <xs:complexType name="fssCustomerType">
    <xs:sequence>
      <xs:element name="account" type="fss.types:fssAccountType"/>
      <xs:element name="abn" type="types:abnType" minOccurs="0"/>
      <xs:choice>
        <xs:element name="person" type="types:personNameType"/>
        <xs:element name="organisationName" type="types:nniNameType"/>
      </xs:choice>
      <xs:element name="name">
        <xs:annotation>
          <xs:documentation>composite person name or organisation name</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="correspondenceName">
        <xs:annotation>
          <xs:documentation>Shortened name for letter windows</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dateRegistration" type="xs:date" minOccurs="0"/>
      <xs:element name="dateRenewalReview" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Business Name Renewal Date or Company Review Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status">
        <xs:annotation>
          <xs:documentation>DRGD Deregistered
PEND Pending Payment
REGD Registered
RJCT Rejected ...</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="phoneNumber" type="types:telephoneNumberType" minOccurs="0"/>
      <xs:element name="faxNumber" type="types:telephoneNumberType" minOccurs="0"/>
      <xs:element name="emailAddress" type="types:emailType" minOccurs="0"/>
      <xs:element name="agent" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="account" type="fss.types:fssAccountType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>acts for customer</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="removeAgent" type="xs:boolean" minOccurs="0">
              <xs:annotation>
                <xs:documentation>only valid for updates</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="manager" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="creditLimit" type="types:amountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>0 if ommitted</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="billingAddress" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="address" type="types:addressType" minOccurs="0"/>
            <xs:element name="addressType">
              <xs:annotation>
                <xs:documentation>BILLING Billing Address
CONTACT Contact Address
PO Primary Office Address
POH Primary Office Holder Address</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
                  <xs:enumeration value="BILLING"/>
                  <xs:enumeration value="CONTACT"/>
                  <xs:enumeration value="PO"/>
                  <xs:enumeration value="POH"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="returnToSenderIndicator" type="xs:boolean" minOccurs="0"/>
            <xs:element name="removeAddress" type="xs:boolean" minOccurs="0">
              <xs:annotation>
                <xs:documentation>To be provided with address type</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fssSimpleAccountType">
    <xs:sequence>
      <xs:element name="ledgerNumber">
        <xs:annotation>
          <xs:documentation>22 Companies Lodging
33 Professional Licensees e.g. Auditors, Liquidators
34 FSR Licensees
35 Credit Licensees
44 9103 - Annual Return Penalties
Miscellaneous Payments/Annual Return Compliance
55 Registered Agent Lodging
75 ECharges Direct Debit
77 ECR Direct Debit
85 Business Names
99 Sundry Debtor</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="fss.types:ledgerType">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="99"/>
            <xs:totalDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="asicIdentifier">
        <xs:annotation>
          <xs:documentation>ASIC Identifier
ACN
BNN
ARBN
ARSN
License Number
Registered Agent Number</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:positiveInteger">
            <xs:totalDigits value="9"/>
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="999999999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fssAccountType">
    <xs:sequence>
      <xs:element name="asicType">
        <xs:annotation>
          <xs:documentation>APTY Australian Private Company
APUB Australian Public Company
BUSN Business Name
REGA Regsitered Agent
...</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ledgerNumber">
        <xs:annotation>
          <xs:documentation>22 Companies Lodging
33 Professional Licensees e.g. Auditors, Liquidators
34 FSR Licensees
35 Credit Licensees
44 9103 - Annual Return Penalties
Miscellaneous Payments/Annual Return Compliance
55 Registered Agent Lodging
75 ECharges Direct Debit
77 ECR Direct Debit
85 Business Names
99 Sundry Debtor</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="fss.types:ledgerType">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="99"/>
            <xs:totalDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="asicIdentifier">
        <xs:annotation>
          <xs:documentation>ASIC Identifier
ACN
BNN
ARBN
ARSN
License Number
Registered Agent Number</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:positiveInteger">
            <xs:totalDigits value="9"/>
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="999999999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fssItemType">
    <xs:sequence>
      <xs:element name="reportingParty" type="fss.types:fssAccountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>party that lodgement is against</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fee" type="fss.types:feeType"/>
      <xs:element name="dateProcessed" type="xs:date"/>
      <xs:element name="dateEffective" type="xs:date"/>
      <xs:element name="dateLastEffective" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Required for 388, 405, 406</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reversalIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="registryDocumentNumber" type="types:documentNoType" minOccurs="0"/>
      <xs:element name="amount" type="types:amountType" minOccurs="0"/>
      <xs:element name="taxAmount" type="types:amountType" minOccurs="0"/>
      <xs:element name="taxCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>GST Goods And Services Tax</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="channel">
        <xs:annotation>
          <xs:documentation>E Electronic
P Paper</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="P"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="quantity" minOccurs="0">
        <xs:annotation>
          <xs:documentation>L Large
S Small</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:enumeration value="L"/>
            <xs:enumeration value="S"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="suffix" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="feeType">
    <xs:sequence>
      <xs:element name="feeType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="feeSubType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="feeDescription" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ledgerType">
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="customerReferenceNumberType">
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="19"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="feesType">
    <xs:annotation>
      <xs:documentation>** DEPRECATED**
Asic output of statutory fees</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="lodgementUnit" type="types:asicNumericIdType" minOccurs="0"/>
      <xs:element name="lodgementDate" type="xs:date"/>
      <xs:element name="paymentMethod" type="fss.types:paymentMethodType" minOccurs="0"/>
      <xs:element name="totalAmountOwing" type="types:amountType"/>
      <xs:element name="invoice" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="asicName">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="asicAbn">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="11"/>
                  <xs:maxLength value="11"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="debtorName">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="debtorAddress" type="types:addressType"/>
            <xs:element name="debtorAccount" type="fss.types:fssAccountType"/>
            <xs:element name="debtorBpayReference">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="13"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="debtorDetail" maxOccurs="2">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="prefix">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="12"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="suffix">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="60"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="invoiceIssueDate" type="xs:date"/>
            <xs:element name="invoiceItems">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="item" maxOccurs="50">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="description" maxOccurs="2">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="50"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="amount" type="types:amountType"/>
                        <xs:element name="taxCode" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="3"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="taxAmount" type="types:amountType" minOccurs="0"/>
                        <xs:element name="referenceNo" minOccurs="0">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="16"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="asicBpayBillerCode">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="asicTitleForPayment">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="asicAddressForPayment">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="asicPhoneForQueries">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fssTransactionType">
    <xs:sequence>
      <xs:element name="dueDate" type="xs:date"/>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="254"/>
            <xs:enumeration value="Fee"/>
            <xs:enumeration value="Refund"/>
            <xs:enumeration value="Waiver"/>
            <xs:enumeration value="Payment"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="254"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="referenceId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="254"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="allocationReference" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="254"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="originalAmount" type="types:amountType"/>
      <xs:element name="outstandingAmount" type="types:amountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="suffixType">
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="paymentMethodType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8"/>
      <xs:enumeration value="CC"/>
      <xs:enumeration value="DD"/>
      <xs:enumeration value="INVOICE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ascotDocumentNoType">
    <xs:annotation>
      <xs:documentation>Ascot document number</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="9"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="transactionType">
    <xs:sequence>
      <xs:element name="reportingParty" type="fss.types:fssAccountType"/>
      <xs:element name="date" type="xs:date"/>
      <xs:element name="code" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descriptionLine1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descriptionLine2" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="reference">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="amount" type="types:amountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceType">
    <xs:sequence>
      <xs:element name="debtor" type="fss.types:debtorType"/>
      <xs:element name="dateIssued" type="xs:date"/>
      <xs:element name="invoicePeriod" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dateStart" type="xs:date"/>
            <xs:element name="dateEnd" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="paid" type="fss.types:transactionsType" minOccurs="0"/>
      <xs:element name="oldUnpaid" type="fss.types:transactionsType" minOccurs="0"/>
      <xs:element name="currentUnpaid" type="fss.types:transactionsType" minOccurs="0"/>
      <xs:element name="totalDue" type="types:amountType">
        <xs:annotation>
          <xs:documentation>Sum of currentUnpaid.total and oldUnpaid.total</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="asicPaymentDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="abn" type="types:abnType"/>
            <xs:element name="titleForPayment">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="addressForPayment">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="phoneForQueries">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="barcode" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="bpay" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="billerCode">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="5"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="ref">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="13"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="postBillpay" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="billpayCode">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="ref">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="18"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="eftReferenceNumber" type="xs:positiveInteger" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="receiptType">
    <xs:sequence>
      <xs:element name="debtor" type="fss.types:debtorType"/>
      <xs:element name="dateIssued" type="xs:date"/>
      <xs:element name="transaction" type="fss.types:transactionType" maxOccurs="99"/>
      <xs:element name="total" type="types:amountType"/>
      <xs:element name="totalDue" type="types:amountType"/>
      <xs:element name="dateDue" type="xs:date" minOccurs="0"/>
      <xs:element name="asicPaymentDetails" type="fss.types:asicPaymentDetailsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentDetailsType">
    <xs:sequence>
      <xs:element name="abn" type="types:abnType"/>
      <xs:element name="titleForPayment">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="addressForPayment">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="phoneForQueries">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="barcode" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bpay" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="billerCode">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ref">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="13"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postBillpay" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="billpayCode">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ref">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="19"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="eftReferenceNumber" type="xs:positiveInteger" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionsType">
    <xs:sequence>
      <xs:element name="transaction" type="fss.types:transactionType" maxOccurs="99"/>
      <xs:element name="total" type="types:amountType">
        <xs:annotation>
          <xs:documentation>Total unpaid for current period</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateDue" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Use for currentUnpaid only</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="debtorType">
    <xs:sequence>
      <xs:element name="account" type="fss.types:fssAccountType"/>
      <xs:element name="name" type="types:nniNameType">
        <xs:annotation>
          <xs:documentation>Business name, company name, etc</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="abn" type="types:abnType" minOccurs="0"/>
        <xs:element name="abnReferenceNumber" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:positiveInteger">
              <xs:totalDigits value="13"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:choice>
      <xs:element name="address" type="types:addressType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="feeWithAmountType">
    <xs:sequence>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="subType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="amount" type="types:amountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="priceType">
    <xs:sequence>
      <xs:element name="fee" type="fss.types:feeWithAmountType" maxOccurs="99"/>
      <xs:element name="totalAmount" type="types:amountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asicPaymentDetailsType">
    <xs:sequence>
      <xs:element name="abn" type="types:abnType"/>
      <xs:element name="titleForPayment">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="addressForPayment">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="phoneForQueries">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="barcode" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bpay" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="billerCode">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ref">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="13"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="postBillpay" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="billpayCode">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ref">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="18"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="eftReferenceNumber" type="xs:positiveInteger" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>