src/main/resources/WSDL/ExternalSearchNniNamePortV3.xsd7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="uri:nni.types.asic.gov.au" elementFormDefault="qualified" xmlns:bn.types="uri:bn.types.asic.gov.au" xmlns:nni.types="uri:nni.types.asic.gov.au" xmlns:types="uri:types.asic.gov.au" xmlns:abn.types="uri:abn.types.asic.gov.au" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="uri:bn.types.asic.gov.au" schemaLocation="ExternalSearchNniNamePortV3.xsd4.xsd"/>
  <xs:import namespace="uri:abn.types.asic.gov.au" schemaLocation="ExternalSearchNniNamePortV3.xsd5.xsd"/>
  <xs:import namespace="uri:types.asic.gov.au" schemaLocation="ExternalSearchNniNamePortV3.xsd3.xsd"/>
  <xs:complexType name="nniTypeType">
    <xs:sequence>
      <xs:element name="code" type="nni.types:nniTypeCodeType"/>
      <xs:element name="description" type="types:descriptionType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="stateNumberType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
      <xs:pattern value="[A-Z0-9 ]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="identifierType">
    <xs:sequence>
      <xs:element name="numberHeading" type="nni.types:numberHeadingType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ACN Australian Company Number
ARBN Australian Registered Body Number
Number
ARSN Australian Registered Scheme Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" type="types:nniNumberType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="numberHeadingType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
      <xs:enumeration value="ACN"/>
      <xs:enumeration value="ARBN"/>
      <xs:enumeration value="ARSN"/>
      <xs:enumeration value="Number"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="searchStatusType">
    <xs:annotation>
      <xs:documentation>DRGD Deregistered
PEND Pending Payment
REGD Registered</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
      <xs:enumeration value="DRGD"/>
      <xs:enumeration value="PEND"/>
      <xs:enumeration value="REGD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="restrictedNniTypeCodeType">
    <xs:annotation>
      <xs:documentation>ASSN Association
BUSN Business Name
COOP Cooperative
LTDP Limited Partnership
SOLS Solicitor Corporation
REBD Religious Bodies</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
      <xs:enumeration value="ASSN"/>
      <xs:enumeration value="BUSN"/>
      <xs:enumeration value="COOP"/>
      <xs:enumeration value="LTDP"/>
      <xs:enumeration value="SOLS"/>
      <xs:enumeration value="REBD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nniTypeCodeType">
    <xs:annotation>
      <xs:documentation>APTY Australian Proprietary Company 
APUB Australian Public Company
ASSN Association 
BUSN Business Name
CHAR Charity
COMP Community Purpose
COOP Co-Operative Society
FNOS Foreign Company (Overseas)
LTDP Limited Partnership
MISM Managed Investment Scheme
NONC Non Company
NRET Non Registered Entity (Nret)
RACN Registered Australian Body
REBD Religious Body
RSVN Name Reservation
SOLS Solicitor Corporation
TRST Trust</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
      <xs:enumeration value="APTY"/>
      <xs:enumeration value="APUB"/>
      <xs:enumeration value="ASSN"/>
      <xs:enumeration value="BUSN"/>
      <xs:enumeration value="CHAR"/>
      <xs:enumeration value="COMP"/>
      <xs:enumeration value="COOP"/>
      <xs:enumeration value="FNOS"/>
      <xs:enumeration value="LTDP"/>
      <xs:enumeration value="MISM"/>
      <xs:enumeration value="NONC"/>
      <xs:enumeration value="NRET"/>
      <xs:enumeration value="RACN"/>
      <xs:enumeration value="REBD"/>
      <xs:enumeration value="RSVN"/>
      <xs:enumeration value="SOLS"/>
      <xs:enumeration value="TRST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="nameIndexAcncEntityType">
    <xs:annotation>
      <xs:documentation>Updated version of nniEntityType for acnc flag</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nni.types:nameIndexEntityType">
        <xs:sequence>
          <xs:element name="acncFlag" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="nameIndexEntityType">
    <xs:annotation>
      <xs:documentation>Updated version of nniEntityType</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nni.types:baseNniEntityType">
        <xs:sequence>
          <xs:element name="abrEntity" type="abn.types:abrEntityType" minOccurs="0"/>
          <xs:element name="agentAppointed" type="types:trueType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>~Internal~</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="baseNniEntityType">
    <xs:sequence>
      <xs:element name="identifier" type="nni.types:identifierType"/>
      <xs:element name="bnReferenceNumber" type="types:bnReferenceNumberType" minOccurs="0"/>
      <xs:element name="name" type="types:distinguishedNameType"/>
      <xs:element name="type" type="nni.types:nniTypeType"/>
      <xs:element name="class" type="nni.types:classType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Companies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subClass" type="nni.types:classType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Companies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="types:statusType"/>
      <xs:element name="incorporationState" type="types:stateTerritoryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Companies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="placeOfIncorporation" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Foreign Companies</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="previousStateTerritory" type="bn.types:previousStateTerritoryType" minOccurs="0"/>
      <xs:element name="dateRegistered" type="xs:date" minOccurs="0"/>
      <xs:element name="dateRenewal" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Business Names</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateDeregistered" type="xs:date" minOccurs="0"/>
      <xs:element name="dateReview" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Companies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="jurisdiction" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="address" type="types:addressType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="formerName" minOccurs="0" maxOccurs="50">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="organisationName" type="types:nniNameType"/>
            <xs:element name="startDate" type="xs:date" minOccurs="0"/>
            <xs:element name="endDate" type="xs:date" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="recentDocument" type="bn.types:documentType" minOccurs="0" maxOccurs="50"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nniEntityType">
    <xs:sequence>
      <xs:element name="businessEntity" type="abn.types:abrEntityType" minOccurs="0"/>
      <xs:element name="identifier" type="nni.types:identifierType"/>
      <xs:element name="name" type="types:nniNameType"/>
      <xs:element name="type" type="nni.types:nniTypeType"/>
      <xs:element name="status" type="types:statusType"/>
      <xs:element name="previousStateTerritory" type="bn.types:previousStateTerritoryType" minOccurs="0"/>
      <xs:element name="dateRegistered" type="xs:date" minOccurs="0"/>
      <xs:element name="dateDeregistered" type="xs:date" minOccurs="0"/>
      <xs:element name="dateRenewal" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>for Business Names</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateReview" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>for ASIC incorporated Bodies</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="jurisdiction" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="registeredAddress" type="types:addressType" minOccurs="0"/>
      <xs:element name="recentDocuments" type="bn.types:documentType" minOccurs="0" maxOccurs="50"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nniEntityWithAgentType">
    <xs:annotation>
      <xs:documentation>Base Organisation extended to indicate if the lodger can act for it</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nni.types:nameIndexEntityType">
        <xs:sequence>
          <xs:element name="agent" minOccurs="0">
            <xs:annotation>
              <xs:documentation>~Internal~</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="agentNo" type="types:asicNumericIdType"/>
                <xs:element name="agentName" type="types:nniNameType"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="businessNames" type="bn.types:outboundBusinessNameType" minOccurs="0" maxOccurs="99"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="officeholderRole">
    <xs:annotation>
      <xs:documentation>DR Director
LD Alternate Director
SR Secretary</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
      <xs:enumeration value="DR"/>
      <xs:enumeration value="LD"/>
      <xs:enumeration value="SR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="businessType">
    <xs:sequence>
      <xs:element name="abrEntity" type="abn.types:abrEntityType" minOccurs="0"/>
      <xs:choice>
        <xs:element name="organisation" type="nni.types:baseNniEntityType">
          <xs:annotation>
            <xs:documentation>Company
Partnership
UnincorporateStructure</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="individual" type="bn.types:individualType">
          <xs:annotation>
            <xs:documentation>Sole Trader
Individual</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="businessName" type="bn.types:outboundBusinessNameType" minOccurs="0" maxOccurs="99"/>
      <xs:element name="agent" type="types:agentType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="companyType">
    <xs:complexContent>
      <xs:extension base="nni.types:nameIndexEntityType">
        <xs:sequence>
          <xs:element name="officeholders" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="officeholder" type="nni.types:officeholderType" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="shareholders" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="shareholder" type="nni.types:shareholderType" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="businessNames" type="bn.types:outboundBusinessNameType" minOccurs="0" maxOccurs="99"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="officeholderType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="organisation" type="bn.types:organisationType"/>
        <xs:element name="individual" type="bn.types:individualType"/>
      </xs:choice>
      <xs:element name="role" type="nni.types:officeholderRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shareholderType">
    <xs:choice>
      <xs:element name="organisation" type="bn.types:organisationType"/>
      <xs:element name="individual" type="bn.types:individualType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="outboundAgentType">
    <xs:sequence>
      <xs:element name="agentAbn" type="types:abnType" minOccurs="0"/>
      <xs:element name="agentNo" type="types:asicNumericIdType"/>
      <xs:element name="agentName" type="types:agentNameType" minOccurs="0"/>
      <xs:choice>
        <xs:element name="organisation" type="nni.types:nameIndexEntityType">
          <xs:annotation>
            <xs:documentation>Company
Partnership
UnincorporateStructure</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="person" type="bn.types:individualType">
          <xs:annotation>
            <xs:documentation>Sole Trader
Individual</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="business" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:choice>
            <xs:element name="organisation" type="nni.types:nameIndexEntityType">
              <xs:annotation>
                <xs:documentation>Company
Partnership
UnincorporateStructure</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="person" type="bn.types:individualType">
              <xs:annotation>
                <xs:documentation>Sole Trader
Individual</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchNniRequestType">
    <xs:sequence>
      <xs:element name="searchType">
        <xs:annotation>
          <xs:documentation>E Exact
S Standard</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="S"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="searchScope">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="organisation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="types:nniNameType"/>
            <xs:element name="type" type="nni.types:nniTypeCodeType" minOccurs="0"/>
            <xs:element name="status" type="nni.types:searchStatusType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="maxResult" type="xs:positiveInteger" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryNniNameType">
    <xs:sequence>
      <xs:element name="proposedName" type="types:nniNameType"/>
      <xs:choice>
        <xs:element name="companyNameAvailabilityCheck" type="types:trueType"/>
        <xs:element name="bnNameAvailabilityCheck" type="types:trueType"/>
      </xs:choice>
      <xs:element name="proprietor" minOccurs="0">
        <xs:complexType>
          <xs:choice>
            <xs:element name="proprietorAcn" type="types:nniNumberType"/>
            <xs:element name="proprietorAbn" type="types:abnType"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classType">
    <xs:sequence>
      <xs:element name="code">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="companyExtractRequestType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="abn" type="types:abnType">
          <xs:annotation>
            <xs:documentation>ABN as 99999999999</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="acn" type="types:nniNumberType">
          <xs:annotation>
            <xs:documentation>ACN Company
ARBN Australian Registered Body
ARSN Australian Registered Scheme</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="company" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="registeredOffice" type="types:trueType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>if set returns Registered Office of the company</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="principalPlaceOfBusiness" type="types:trueType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>if set returns the Principal Place Of Business of the company</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="officeholders" type="types:trueType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>if set returns the Directors, Secretaries and Alternate Drictors of the company</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="shareHolders" type="types:trueType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>if set returns Share Holders of the company</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="formerNames" type="types:trueType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>if set returns Former Names of organisastion</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="businessNames" type="types:trueType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>if set returns Business Names owned by organisastion</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="document" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dateListStart" type="xs:date" minOccurs="0"/>
            <xs:element name="dateListEnd" type="xs:date" minOccurs="0"/>
            <xs:element name="maxDocuments" type="xs:positiveInteger" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>